# LaTeX build artifacts
*.aux
*.bbl
*.synctex.gz
*.log
*.out
*.fls
*.fdb_latexmk
*.bib
*.tex

README.md
*.txt

# IEEEtran template files
IEEEtran.bst
IEEEtran.cls

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Large env files
starter_code/envs/random_envs/
starter_code/envs/known_envs/
/Users/iuliarusu/Documents/ece276b/ECE276B_PR1/ECE276_PR1.pdf
